.boton {
    display: flex;
    cursor: pointer;
    position: absolute;
    display: flex;
    background-color: var(--color4);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
   justify-content: center;
   align-items: center;
}
.boton i{
    display: flex;
}
.material-symbols-sharp{
font-size: 25px;
color: rgb(149, 149, 149);
}


.contenedorMenuEditar{
    bottom: 10px;
    right: 10px;
    position: absolute;
width: 25px;
height: 100px;
overflow: hidden;
}


.contenedorMenuEditar:hover,
.contenedorMenuEditar:focus,
.contenedorMenuEditar:active{
    pointer-events: auto;
}

.oculto{
    height: 25px;
}
.botonEditarAparecer{
    bottom: 70px;
}
.botonEliminarAparecer{
    bottom: 35px;
}
