.containerReceta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: var(--color3);
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 11px 7px 22px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 7px 22px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 7px 22px -10px rgba(0, 0, 0, 0.75);
  }
  
  .containerReceta img {
  height: 80px;
  border-radius: 10px;
  background-size: cover;
  }
  
  .containerReceta h3 {
  margin: 10px;
  font-size: 16px;
  text-align: center;
  }
  
  .efectoReceta:hover,
  .efectoReceta:focus,
  .efectoReceta:active {
  pointer-events: auto;
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
  }